h2,
h3 {
  font-weight: 500;
}
h2 {
  font-size: 1.4em;
}
h3 {
  font-size: 1.25em;
}
main {
  background: linear-gradient(white 80%, darkgray);
  background-size: 100% 100%;
}
.branding,
.pills.wrapper {
  flex: 1 1 0;
  max-width: 30em;
  min-width: 10em;
}
.branding img {
  width: 40%;
}
.logo-sitename h1 {
  font-size: 3.5em;
}
.login {
  margin-top: 10%;
}
.pills .border {
  border-radius: 12px;
  border: 2px solid var(--grey-300, #e0e0e0);
}
