h2,
h3 {
  font-weight: 500;
}
h2 {
  font-size: 1.7em;
}
h3 {
  font-size: 1.25em;
}
.login {
  background: linear-gradient(white 80%, darkgray);
  background-size: 100% 100%;
}
.border {
  border-radius: 1em;
  border: 2px solid var(--grey-300, #e0e0e0);
}
.branding img {
  width: 40%;
}
.logo-sitename h1 {
  font-size: 3.5em;
}
.provider.border {
  border-radius: 3em;
}
.provider button {
  font-size: 1.1em;
  font-weight: 500;
  width: 100%;
  height: 100%;
}
.provider button img {
  width: 2em;
}
